baseURL = 'https://muscat-tech.org/'
languageCode = 'en'
title = 'Muscat Tech'


[permalinks]
  [permalinks.page]
    events = '/groups/:sections[last]/events/:year/:month/:slugorfilename/'
  [permalinks.section]
    events = '/groups/:sections[last]/'

[build]
  writeStats = true
  [[build.cachebusters]]
    source = "assets/watching/hugo_stats\\.json"
    target = "styles\\.css"
  [[build.cachebusters]]
    source = "(postcss|tailwind)\\.config\\.js"
    target = "css"
  [[build.cachebusters]]
    source = "assets/.*\\.(js|ts|jsx|tsx)"
    target = "js"
  [[build.cachebusters]]
    source = "assets/.*\\.(.*)$"
    target = "$1"
