<header
  class="bg-blue-600 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3"
>
  <div class="text-white text-2xl px-4 py-3"><a href="/">Muscat Tech</a></div>
  <nav class="sm:flex sm:items-center">
    <a
      href="/groups"
      class="block px-2 py-1 text-white font-semibold rounded hover:bg-blue-500 sm:px-4"
      >Groups</a
    >
    <a
      href="#"
      class="block px-2 py-1 text-white font-semibold rounded hover:bg-blue-500 sm:px-4"
      >About</a
    >
  </nav>
</header>
