{{ define "main" }}
<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200 content">
    <div>
      <h2 class="text-3xl font-extrabold text-gray-900">
        {{ .Params.name }}
      </h2>
      {{ if isset .Params "promotionalimage" }}
      <div class="mt-6 w-full max-w-md mx-auto">
        <div class="aspect-w-1 aspect-h-1 overflow-hidden rounded-lg">
          <img class="" src="{{ .Params.promotionalImage }}" alt="{{ .Params.name }}" />
        </div>
      </div>
      {{ end }}

      {{ $optBlock := dict "display" "block" }}
      <div class="mt-3 text-xl">
        {{ .Params.description | .RenderString $optBlock }}
      </div>

      <p class="mt-3 text-md">
        <span>Location: </span>
        {{ with .Params.location }}
        <span>{{ . }}</span>
        {{ else }}
        <span>Location not specified.</span>
        {{ end }}
      </p>
      <p class="mt-1 text-md">
        <span>From: </span>
        {{ with .Params.date }}
        <span>{{ .Format "Jan 2, 2006 3:04PM" }}</span>
        {{ else }}
        <span>Start time not specified.</span>
        {{ end }}
      </p>
      <p class="mt-1 text-md">
        <span>To: </span>
        {{ with .Params.endDate }}
        <span>{{ dateFormat "Jan 2, 2006 3:04PM" . }}</span>
        {{ else }}
        <span>End time not specified.</span>
        {{ end }}
      </p>
      {{ with .Params.pricing }}
      <p class="mt-1 text-md">
        <span>Pricing: </span>
        <span>{{ . }}</span>
      </p>
      {{ end }}
    </div>

    {{ $groupLink := .CurrentSection.RelPermalink }}
    <div class="pt-6 mt-8">
      <h3 class="text-2xl font-bold text-gray-900">Organizer details</h3>
      {{ with .CurrentSection.Params }}
      <p class="mt-2 text-lg text-gray-500">
        Organised by <a href="{{ $groupLink }}" class="text-indigo-600 hover:text-indigo-500">{{ .name }}</a>
      </p>
      <p class="mt-2 text-lg">{{ .description }}</p>
      {{ end }}
    </div>

    {{ with .Params.detailsUrl }}
    <div class="pt-6 mt-8">
      <h3 class="text-2xl font-bold text-gray-900">More details</h3>
      <a href="{{ . }}" class="mt-2 text-indigo-600 hover:text-indigo-500">
        Find more information here
      </a>
    </div>
    {{ end }}

    {{ with .Params.registrationUrl }}
    <div class="pt-6 mt-8">
      <h3 class="text-2xl font-bold text-gray-900">Registration</h3>
      <a href="{{ . }}" class="mt-2 text-indigo-600 hover:text-indigo-500">
        Register here
      </a>
    </div>
    {{ end }}
  </div>
</main>
{{ end }}